@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-white;
}

@keyframes gradient {
    0% {
        background-position: 25% 65%;
    }
    50% {
        background-position: 35% 75%;
    }
    100% {
        background-position: 25% 65%;
    }
}

.bg-gradient-animated {
    background: linear-gradient(112deg, #800000, #800000, #ffffff, #ffffff);
    background-size: 400% 400%;
    animation: gradient 15s ease-in-out infinite;
}
