@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-darkPurple text-white;
}

@keyframes gradient {
    0% {
        background-position: 25% 75%;
    }
    50% {
        background-position: 75% 25%;
    }
    100% {
        background-position: 25% 75%;
    }
}

.bg-gradient-animated {
    background: linear-gradient(112deg, #800000, #4A1E2F, #1A0A1A);
    background-size: 400% 400%;
    animation: gradient 100s ease infinite;
}
